{% if collection.handle == 'syruvia-bundle' %}
  <script>window.location.replace('/pages/build-your-bundle');</script>
  <noscript>
    <meta http-equiv="refresh" content="0; url=/pages/build-your-bundle">
    <a href="/pages/build-your-bundle">Continue</a>
  </noscript>
{% endif %}
