html body .syr-drawer-close { display: none !important; }
html body .syr-drawer-close { display: none !important; }
 .vipp .gate-hero h1, .vipp .gate-hero p, .vipp .gate-cta .ghost{
    color: #39220f !important;
}
